<div id="menu_lateral" class="overflow-hidden h-screen bg-white border shadow-[1px_0px_2px_1px_rgba(216,216,216,1)]">
    <ul class="mt-4 overflow-hidden">
        <li>
            <a href="/administrador/dashboard" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
                <i class="fas fa-tachometer-alt"></i> <!-- Dashboard icon -->
                <span>Main</span>
                <i class="fas fa-chevron-right"></i> <!-- Chevron icon -->
            </a>
        </li>
        <li>
            <a href="/administrador/usuarios" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
                <i class="fas fa-users"></i> <!-- Users icon -->
                <span>Usuarios</span>
                <i class="fas fa-chevron-right"></i> <!-- Chevron icon -->
            </a>
        </li>
        <li>
            <a href="/administrador/productos" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
                <i class="fas fa-box"></i> <!-- Product icon -->
                <span>Productos</span>
                <i class="fas fa-chevron-right"></i> <!-- Chevron icon -->
            </a>
        </li>
        <li>
            <a href="/administrador/compras" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
                <i class="fas fa-truck"></i> <!-- Truck icon -->
                <span>Pedidos</span>
                <i class="fas fa-chevron-right"></i> <!-- Chevron icon -->
            </a>
        </li>
        <li>
            <a href="/administrador/reclamos" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
                <i class="fas fa-file-excel"></i> <!-- Excel icon -->
                <span>Reclamos</span>
                <i class="fas fa-chevron-right"></i> <!-- Chevron icon -->
            </a>
        </li>
        <li>
            <a href="/administrador/categoria/producto" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
                <i class="fas fa-tags"></i> <!-- Tag icon -->
                <span>Categoria</span>
                <i class="fas fa-chevron-right"></i> <!-- Chevron icon -->
            </a>
        </li>
        <li>
            <a href="/" class="flex justify-between bg-sky-600 text-white px-4 py-2 hover:bg-orange-700 rounded m-2 text-sm">
                <i class="fas fa-store"></i> <!-- Store icon -->
                <span>Tienda</span>
                <i class="fas fa-chevron-right"></i> <!-- Chevron icon -->
            </a>
        </li>
        <li>
            <a href="/autenticacion/logout" class="flex gap-2 bg-red-800 text-white px-2 py-3 rounded m-2 text-sm">
                <i class="fas fa-sign-out-alt"></i> <!-- Sign-out icon -->
                <span>Cerrar Sesion</span>
            </a>
        </li>
    </ul>
</div>
