<div class="header bg-white">
    <div class="w-full flex justify-between px-4 py-4 border shadow-md">
        <!-- Logo y título -->
        <div class="text-lg flex items-center">
            <a href="/" class="flex gap-2">
                <img class="w-12" src="/img/estadisticas/img-5.png" alt="">
                <span class="mt-auto mb-auto">Tunea tu Bajada</span>
            </a>
        </div>

        <!-- Menú de navegación -->
        <div class="flex gap-4 items-center">
            <!-- Menú de páginas -->
            <div class="menu_page flex gap-6 text-sm items-center">
                <a href="/" class="hover:text-orange-600 transition duration-300">Inicio</a>
                <a href="/cliente/productos" class="hover:text-orange-600 transition duration-300">Productos</a>
                <a href="/nosotros" class="hover:text-orange-600 transition duration-300">Sobre Nosotros</a>
                <a href="/cliente/compras" th:unless="${session.IdUsuario == null}" class="hover:text-orange-600 transition duration-300">Mis Compras</a>
            </div>

            <!-- Opciones de sesión si el usuario no está logueado -->
            <div class="usuario_sesion flex gap-4 items-center" th:if="${session.IdUsuario == null}">
                <a href="/cliente/login" class="hidden lg:block bg-[#f97316] text-white py-2 px-4 rounded-lg hover:bg-[#ea641a] transition duration-300">Iniciar sesión</a>
                <a href="/cliente/registrar" class="hidden lg:block bg-[#f97316] text-white py-2 px-4 rounded-lg hover:bg-[#ea641a] transition duration-300">Regístrate</a>
            </div>

            <!-- Nombre de usuario si está logueado -->
            <div class="usuario_sesion flex gap-2 items-center" th:unless="${session.IdUsuario == null}">
                <span class="text-sm font-bold bg-[#f97316] text-white py-2 px-4 rounded bg-[#ea641a] transition duration-300" th:text="${session.NombreUsuario}"></span>
            </div>

            <!-- Botón de logout -->
            <div class="flex items-center" th:unless="${session.IdUsuario == null}">
                <a href="/autenticacion/logout" class="text-3xl text-red-600 font-bold hover:text-red-800 transition duration-300">
                    <i class="fas fa-sign-out-alt"></i> <!-- Ícono de logout de Font Awesome -->
                </a>
            </div>

            <!-- Icono de menú lateral -->
            <div class="flex items-center">
                <a id="buttom_barra_lateral" class="lg:hidden text-2xl border rounded shadow-sm px-2 hover:bg-gray-200 transition duration-300">
                    <i class="fas fa-bars"></i> <!-- Ícono de menú lateral de Font Awesome -->
                </a>
            </div>
        </div>
    </div>
</div>
